body {
  margin: 0;
}

header {
  background-color: lightskyblue;
}

main {
  background-color: lightcyan;
  flex-grow: 1;
}

footer {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}
